@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap");
body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #fffafb;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li,
ul {
  list-style: none;
}
/* Banner-Image */
.hero-banner-img {
  position: absolute;
  /* position: relative; */
  top: 0px;
  right: 40px;
  width: 700px;
  height: 900px;
  margin-top: -230px;
}
